{% extends 'base.html' %}

{% block content %}
  <h1>Add New Post</h1>

    <form method="post">
        <label for="a_h0">a_h0</label><br>
        <input type="text" id="a_h0" name="a_h0" value="{{ a_h0 }}"><br>

        <label for="alpha_deg">alpha_deg</label><br>
        <input type="text" id="alpha_deg" name="alpha_deg"><br>

        <label for="b_m">b_m</label><br>
        <input type="text" id="b_m" name="b_m"><br>

        <label for="ho_m">ho_m</label><br>
        <input type="text" id="ho_m" name="ho_m"><br>

        <label for="Rb_MPa">Rb_MPa</label><br>
        <input type="text" id="Rb_MPa" name="Rb_MPa"><br>

        <label for="mu_perc">mu_perc</label><br>
        <input type="text" id="mu_perc" name="mu_perc"><br>

        <label for="E_MPa">E_MPa</label><br>
        <input type="text" id="E_MPa" name="E_MPa"><br>

        <input type="submit" value="Submit">
    </form>

    <textarea id="content" name="content">{{ Qresult }}</textarea><br>
{% endblock %}